@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Home Page";
}

@inject IConfiguration Configuration

@section Styles{
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style type="text/css">
        .el-input-group__prepend {
            width: 220px !important;
            text-align: right !important;
        }

        #container .el-row {
            margin: 10px 0px !important;
        }
    </style>
}
<div id="container">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-position="top" v-loading="loading"
             element-loading-text="拼命加载中......"
             element-loading-spinner="el-icon-loading"
             element-loading-background="rgba(0, 0, 0, 0.8)">
        <el-row>
            <el-col :span="6">
                <el-form-item label="数据库类型：" prop="dbType">
                    <el-select v-model="ruleForm.dbType" placeholder="请选择">
                        <el-option v-for="item in ruleForm.dbList"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="18">
                <el-form-item label="数据库连接：" prop="connectionString">
                    <el-input v-model="ruleForm.connectionString" clearable @@input="forceUpdateInput" placeholder="请输入数据库连接字符串">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="项目名称：" prop="solutionName">
                    <el-input v-model="ruleForm.solutionName" clearable @@input="forceUpdateInput" placeholder="请输入项目名称">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Controllers Namespace：" prop="controllersNamespace">
                    <el-input v-model="ruleForm.controllersNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
            @*</el-row>
                <el-row>*@
            <el-col :span="6">
                <el-form-item label="Models Namespace：" prop="modelsNamespace">
                    <el-input v-model="ruleForm.modelsNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="ViewModels Namespace：" prop="viewmodelsNamespace">
                    <el-input v-model="ruleForm.viewmodelsNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="IRepositories Namespace：" prop="iRepositoriesNamespace">
                    <el-input v-model="ruleForm.iRepositoriesNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Repositories Namespace：" prop="repositoriesNamespace">
                    <el-input v-model="ruleForm.repositoriesNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
            @*</el-row>
                <el-row>*@
            <el-col :span="6">
                <el-form-item label="IServices Namespace：" prop="iServicesNamespace">
                    <el-input v-model="ruleForm.iServicesNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Services Namespace：" prop="servicesNamespace">
                    <el-input v-model="ruleForm.servicesNamespace" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="保留表名前缀：" prop="keepPrefix">
                    <el-switch v-model="ruleForm.keepPrefix"
                               active-text="是"
                               inactive-text="否">
                    </el-switch>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Pascal命名：" prop="isPascalCase">
                    <el-switch v-model="ruleForm.isPascalCase"
                               active-text="是"
                               inactive-text="否"
                               @@change="pascalRename('@Url.Action("PascalRename")');">
                    </el-switch>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="生成WebAPI：" prop="isPascalCase">
                    <el-switch v-model="ruleForm.generateApiController"
                               active-text="是"
                               inactive-text="否">
                    </el-switch>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="操作栏">
                    <el-button icon="el-icon-connection" type="success" @@click="connectDatabase('@Url.Action("GetDataTables")');">获取表结构</el-button>
                    <el-button icon="el-icon-download" type="success" @@click="submitForm('@Url.Action("Generate")')">一键生成</el-button>
                    <el-button @@click="resetForm('ruleForm')" icon="el-icon-refresh-left" type="warning">重置</el-button>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row v-if="!ruleForm.keepPrefix">
            <el-col :span="24">
                <el-form-item label="前缀列表(多个用逗号分割)" prop="prefixes">
                    <el-input v-model="ruleForm.prefixes" clearable @@input="forceUpdateInput">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <el-form-item prop="tableData">
            <template>
                <el-table :data="ruleForm.tableData"
                          height="800"
                          border
                          style="width: 100%"
                          id="tableList">
                    <el-table-column type="expand" title="展开查看字段明细">
                        <template slot-scope="scope">
                            <el-table :data="scope.row.columns"
                                      border
                                      style="width: 100%">
                                <el-table-column prop="colName"
                                                 label="列名">
                                </el-table-column>
                                <el-table-column prop="alias"
                                                 label="别名">
                                    <template slot-scope="props">
                                        <el-input clearable @@input="forceUpdateInput" v-model="props.row.alias">

                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="isPrimaryKey"
                                                 label="主键">
                                    <template slot-scope="props">
                                        {{ props.row.isPrimaryKey }}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="columnType"
                                                 label="数据类型">
                                </el-table-column>
                                <el-table-column prop="cSharpType"
                                                 label="C#类型">
                                    <template slot-scope="props">
                                        <el-input clearable @@input="forceUpdateInput" v-model="props.row.cSharpType">
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="isIdentity"
                                                 label="自增">
                                    <template slot-scope="props">
                                        {{ props.row.isIdentity }}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="isNullable"
                                                 label="可空">
                                    <template slot-scope="props">
                                        {{ props.row.isNullable }}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="comments"
                                                 label="备注">
                                    <template slot-scope="props">
                                        <el-input clearable @@input="forceUpdateInput" v-model="props.row.comments">
                                        </el-input>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                    <el-table-column prop="tableName"
                                     label="表名"
                                     width="300">
                    </el-table-column>
                    <el-table-column prop="alias"
                                     label="别名"
                                     width="300">
                        <template slot-scope="scope">
                            <el-input clearable @@input="forceUpdateInput" v-model="scope.row.alias">

                            </el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="tableComment"
                                     label="描述">
                        <template slot-scope="scope">
                            <el-input clearable @@input="forceUpdateInput" v-model="scope.row.tableComment">

                            </el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作"
                                     width="200">
                        <template slot-scope="scope">
                            <el-tooltip effect="dark" content="移除" placement="top">
                                <el-button @@click.native.prevent="deleteRow(scope.$index, ruleForm.tableData)"
                                           type="warning"
                                           size="small" icon="el-icon-delete">
                                </el-button>
                            </el-tooltip>
                            <el-tooltip effect="dark" content="预览" placement="top">
                                <el-button @@click.native.prevent="preview(scope.$index,'@Url.Action("Preview")');"
                                           type="warning"
                                           size="small" icon="el-icon-search">
                                </el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </el-form-item>
    </el-form>
</div>
<el-dialog v-if="fileItems!=null" :title="fileItems.table+' - 代码预览'"
           :visible.sync="dialogVisible"
           width="60%">
    <template>
        <el-tabs value="1"
                 type="card">
            <el-tab-pane :label="fileItems.model.name" name="1">
                <el-input
                    type="textarea"
                    :rows="30"
                    readonly="false"
                    v-model="fileItems.model.content">
                </el-input>
            </el-tab-pane>
            <el-tab-pane :label="fileItems.irepository.name" name="2">
                <el-input type="textarea"
                          :rows="30"
                          readonly="false"
                          v-model="fileItems.irepository.content">
                </el-input>
            </el-tab-pane>
            <el-tab-pane :label="fileItems.repository.name" name="3">
                <el-input type="textarea"
                          :rows="30"
                          readonly="false"
                          v-model="fileItems.repository.content">
                </el-input>
            </el-tab-pane>
            <el-tab-pane :label="fileItems.iservice.name" name="4">
                <el-input type="textarea"
                          :rows="30"
                          readonly="false"
                          v-model="fileItems.iservice.content">
                </el-input>
            </el-tab-pane>
            <el-tab-pane :label="fileItems.service.name" name="5">
                <el-input type="textarea"
                          :rows="30"
                          readonly="false"
                          v-model="fileItems.service.content">
                </el-input>
            </el-tab-pane>
            <el-tab-pane :label="fileItems.controller.name" name="6">
                <el-input type="textarea"
                          :rows="30"
                          readonly="false"
                          v-model="fileItems.controller.content">
                </el-input>
            </el-tab-pane>
        </el-tabs>
    </template>
</el-dialog>

@section Scripts
{
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript">
        app.ruleForm.connectionString = '@Configuration.GetConnectionString("MsSqlServer")';
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
}
